@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;

  a {
    text-decoration: none;
    cursor: pointer;
  }

  li {
    list-style: none;
  }
}

body {
  background: #fcfcfc;
  .menu,
  .close {
    display: none;
  }
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10vh;
  margin: 30px;
  background: #fcfcfc;
  //  background: yellow;
  box-shadow: 0px 4px 4px 0px #0000001a;

  .logo {
    a {
      color: #000000;
      font-size: 1.3rem;
      font-weight: 500;
      line-height: 36px;
    }
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    margin: 20px;
    padding: 40px;
    top: 0;
    right: 0;
    left: 0;
    flex-wrap: wrap;

    ul {
      display: flex;
      align-items: center;
      gap: 10px 32px;
      flex-wrap: wrap;

      a {
        font-size: 1.1rem;
        color: #1a1a1a;
        font-weight: 400;
        line-height: 27px;
        padding: 12px;
      }
    }

    .sec-nav {
      margin-top: -9px;
      a {
        background: #016f88;
        color: #fff;
        padding: 11px 15px;
        border-radius: 43.06px;
      }
    }
  }

  .signin {
    display: none;
  }
}
//Hero
.hero {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-grow: 1;
  // flex-wrap: wrap;
  // display: none;
  .hero-text {
    display: flex;
    flex-direction: column;
    max-width: 632px;
    padding: 40px;
    gap: 20px;
    flex-wrap: wrap;

    h1 {
      font-family: Poppins;
      font-size: 3.6rem;
      font-weight: 600;
      line-height: 86.75px;
      color: #000;

      span {
        color: #016f88;
      }
    }

    p {
      color: #575757;
      font-size: 24px;
      font-weight: 400;
      line-height: 36px;
      //width: 616px;
      //max-width: 616px;
    }

    .hero-ctas {
      // background: blue;
      display: flex;
      flex-direction: row;
      gap: 40px;
      //  width: fit-content;
    }

    a {
      background: #016f88;
      color: #fff;
      font-size: 1.1rem;
      font-weight: 600;
      line-height: 27px;

      padding: 10px 18.5px;
      //  gap: 10px;
      border-radius: 10px;
    }

    .learn-more {
      background: none;
      color: #545454;

      img {
        width: 14px;
      }
    }
  }
}

//Logo

.logo-box {
  // margin: 0 auto;
  // display: flex;
  // flex-direction: column;
  border-top: 3px solid #bcbcbc;
  border-bottom: 3px solid #bcbcbc;

  .logo-images {
    //display: flex;
    //align-items: center;
    //max-width: 1200px;
    //margin: 0 auto;
    // background: #fff;
    //   gap: 40px;
    //  flex-wrap: wrap;

    img {
      //   display: flex;
      //  flex-direction: column;
      //  gap: 35px;
      //  width: 160px;
      //  flex-grow: 1;
      //   padding: 19px; //CHECK
    }
  }
}

.logo-box {
  padding: 30px;
  // display: grid;

  // display: none;

  .logo-images {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    // grid-template-columns: repeat(2, auto);
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    // background: yellow;
    max-width: 1200px;
    margin: 0 auto;
    gap: 30px;

    img {
      //width: 160px;
      max-width: 1200px;
      margin: 0 auto;
    }
  }

  // grid-template-columns: repeat(2, 1fr);
}

//legacy

.legacy {
  padding: 60px;
  margin-top: 65px;
  //background: red;
  //  display: none;
}

.legacy-box {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;

  .legacy-text {
    display: flex;
    flex-direction: column;
    gap: 25px 20px;
    h1 {
      font-size: 3.6rem;
      font-weight: 500;
      line-height: 78.03px;
      color: #20373e;
      max-width: 574.6px;
    }

    p {
      font-size: 1.5rem;
      font-weight: 300;
      line-height: 35.92px;
      color: #464646;
      max-width: 571px;
    }

    a {
      background: #016f88;
      color: #fbfbfb;
      border-radius: 47px;
      padding: 11px 25px;
      width: 195px;
      font-size: 1.49rem;
      font-weight: 600;
      line-height: 35.92px;
      text-align: center;
    }
  }
}

//Products
.product-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  display: none;
  // background: yellow;

  .product-text {
    background: pink;
    h3 {
      font-size: 2rem;
      font-weight: 500;
      line-height: 43.2px;
      text-align: center;
      text-transform: uppercase;
      color: #44585e;
    }

    h2 {
      font-family: Poppins;
      font-size: 3.6rem;
      font-weight: 600;
      line-height: 78.03px;
      text-align: center;
      color: #20373e;
    }
  }

  .product-package {
    display: flex;
    .left-arrow,
    .right-arrow {
      //background: purple;
    }

    .product-boxes {
      display: flex;
      justify-content: center;
      //  flex-direction: row;
      //  flex-direction: column;
      flex-wrap: wrap;
      max-width: 1200px;
      margin: 0 auto;
      .box {
        background: green;
        //  border-radius: 20px;
      }
    }
  }
}

//Sales
.sales {
  //background: yellow;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 30px;

  // display: none;
  .sales-text {
    // background: red;
    position: relative;
    h3 {
      font-size: 2rem;
      font-weight: 500;
      line-height: 43.2px;
      text-align: center;
      color: #44585e;
      text-transform: uppercase;
    }

    h2 {
      font-size: 3.6rem;
      font-weight: 600;
      line-height: 78.03px;
      text-align: center;
      color: #20373e;
    }

    p {
      display: flex;
      gap: 8px;
      margin-right: 15px;
      // justify-content: right;
      font-size: 1.418rem;
      font-weight: 500;
      line-height: 30.68px;
      // text-align: right;
      position: absolute;
      right: 0;
      top: 70px;
      color: #44585e;

      img {
        width: 10px;
      }
    }
  }

  .sales-container {
    display: flex;
    justify-content: center;
    // flex-direction: column;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    gap: 30px 50px;
    padding: 40px;

    .sales-box {
      //   background: purple;
      background: linear-gradient(
        306.31deg,
        #e3e8e3 2.87%,
        #ddf9ff 49.15%,
        #ffffff 192.08%
      );

      border-radius: 18px;
      padding: 20px;

      .heart-box {
        //  background: yellow;
        display: flex;
        justify-content: end;

        img {
          //  background: pink;
          display: flex;
        }
      }

      .sales-image {
        img {
          width: 250px;
          margin: 0 auto;
        }
      }

      .sales-details {
        display: flex;
        justify-content: space-between;
        position: relative;
        gap: 25px 30px;
        //  background: red;
        padding: 5px;
        // margin-top: 100px;
        .sales-details-text {
          h3 {
            font-family: Poppins;
            font-size: 1.3rem;
            font-weight: 500;
            line-height: 32.4px;
          }
        }

        .sales-cta {
          //   background: red;
          background: #016f88;
          display: flex;
          position: absolute;
          border-radius: 68px;
          right: 0;
          bottom: 0;

          a {
            //   background: yellow;
            color: #fff;
            text-transform: uppercase;
            padding: 8.82px;
          }
        }
      }
    }

    .glasses {
      // background: green;

      .sales-details {
        //       background: purple;
        margin-top: 90px;
      }
    }

    .glass {
      //   background: green;

      .sales-details {
        //       background: purple;
        margin-top: 40px;
      }
    }
  }
}

//Collections
.collections {
  //background: red;

  .shirt {
    .sales-details {
      //       background: purple;
      margin-top: 90px;
    }
  }

  .jacket {
    .sales-details {
      //       background: purple;
      margin-top: 35px;
    }
  }
}

//Testimonials
.testimonials {
  .testimonials-text {
    h3 {
      color: #464646;
      font-size: 2rem;
      font-weight: 500;
      text-align: center;
      line-height: 43.2px;
      color: #44585e;
    }

    h2 {
      color: #000;
      font-size: 3.6rem;
      font-weight: 600;
      line-height: 69.4px;
      text-align: center;
    }
  }

  .sales-container {
    display: flex;
    justify-content: center;
    // flex-direction: column;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    gap: 30px 50px;
    padding: 40px;

    .sales-box {
      //   background: purple;
      border: 0.98px solid #000000;
      background: none;
      border-radius: 18px;

      .sales-image {
        img {
          width: 100px;
          margin: 0 auto;
          display: flex;
        }
      }

      .sales-details {
        display: flex;
        justify-content: center;
        gap: 30px;
        //    background: green;
        padding: 5px;
        margin-top: 40px;
        .sales-details-text {
          display: flex;
          flex-direction: column;
          gap: 30px;
          text-align: center;
          h3 {
            font-size: 2rem;
            font-weight: 500;
            line-height: 43.2px;
          }

          p {
            font-size: 1.3rem;
            font-weight: 300;
            line-height: 30px;
            text-align: center;
            color: #464646;
            max-width: 301px;
          }

          .ratings {
            margin-top: 30px;
          }
        }
      }
    }

    .glasses {
      // background: green;

      .sales-details {
        //       background: purple;
        margin-top: 60px;
      }
    }

    .glass {
      //   background: green;

      .sales-details {
        //       background: purple;
        margin-top: 40px;
      }
    }
  }
}

@media only screen and (max-width: 680px) {
  body {
    //   background: red;
    .menu,
    .close {
      display: block;
      width: 40px;
      cursor: pointer;
    }
  }

  header {
    .signin {
      display: block;
    }

    .sec-nav {
      display: none;
    }
  }

  .navigation {
    display: none;
    position: absolute;
    background: #016f88;
    //  background: #000;
    width: 50%;
    top: -15px;
    right: -20px;
    height: 100vh;
    z-index: 1;

    li {
      margin-top: 90px;
    }

    a {
      padding: 8px 16px;
      display: block;
      font-size: 1.4rem;
      color: #fff;
    }

    .close {
      margin: 32px;
      position: absolute;
      right: 0;
      top: -13px;
    }
  }

  .hero {
    flex-wrap: wrap;
    .hero-img {
      img {
        width: 100%;
      }
    }
  }

  .legacy-box {
    flex-wrap: wrap;

    .legacy-image {
      //   background: red;
      img {
        width: 100%;
      }
    }
  }

  .left-arrow,
  .right-arrow {
    display: none;
  }
  .collections {
    .sales-text {
      p {
        top: 0;

        img {
          width: 8px;
        }
      }
    }
  }
}
@media only screen and (min-width: 920px) {
  body {
    //  background: yellow;
  }

  .hero {
  }
}
